In [1]:
import pandas as pd
import numpy as np

In [2]:
airlines=pd.read_csv("D:/data analysis/airlines_final.csv")
airlines.head()

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,12/31/2018,115,Clean,Neutral,Very satisfied
1,1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,12/31/2018,135,Clean,Very safe,Very satisfied
2,2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,12/31/2018,70,Average,Somewhat safe,Neutral
3,3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,12/31/2018,190,Clean,Very safe,Somewhat satsified
4,4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,12/31/2018,559,Somewhat clean,Very safe,Somewhat satsified

In [9]:


#categories = airlines[['cleanliness','safety','satisfaction']]
categories=pd.read_csv("D:/data analysis/categories.csv")

In [10]:
categories.head()

   Unnamed: 0     cleanliness         safety        satisfaction
0           0           Clean        Neutral      Very satisfied
1           1           Clean      Very safe      Very satisfied
2           2         Average  Somewhat safe             Neutral
3           3           Clean      Very safe  Somewhat satsified
4           4  Somewhat clean      Very safe  Somewhat satsified

In [ ]:
categories['cleanliness']

###### # Print unique values of survey columns in airlines

In [7]:
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ',airlines['satisfaction'].unique(), "\n")

Cleanliness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Unacceptable'
 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [11]:
airlines['cleanliness'].value_counts()

Somewhat clean    1173
Clean              884
Average            389
Somewhat dirty      26
Unacceptable         3
Dirty                2
Name: cleanliness, dtype: int64

###### Cleanliness has <b><h1>inconsistent category</h1></b> which is Unacceptable

In [12]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])
print(cat_clean)

{'Unacceptable'}

In [14]:
# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
airlines[cat_clean_rows]

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
69,76,813,Sunday,ALASKA,PORTLAND,West US,Medium,Gates 50-59,12/31/2018,140,Unacceptable,Very safe,Somewhat satsified
77,84,1366,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,12/31/2018,170,Unacceptable,Very safe,Somewhat satsified
108,122,2220,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,12/31/2018,95,Unacceptable,Very safe,Very satisfied

In [16]:
# Print rows with consistent categories only
airlines[~cat_clean_rows]

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,12/31/2018,115,Clean,Neutral,Very satisfied
1,1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,12/31/2018,135,Clean,Very safe,Very satisfied
2,2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,12/31/2018,70,Average,Somewhat safe,Neutral
3,3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,12/31/2018,190,Clean,Very safe,Somewhat satsified
4,4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,12/31/2018,559,Somewhat clean,Very safe,Somewhat satsified
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472,2804,1475,Tuesday,ALASKA,NEW YORK-JFK,East US,Hub,Gates 50-59,12/31/2018,280,Somewhat clean,Neutral,Somewhat satsified
2473,2805,2222,Thursday,SOUTHWEST,PHOENIX,West US,Hub,Gates 20-39,12/31/2018,165,Clean,Very safe,Very satisfied
2474,2806,2684,Friday,UNITED,ORLANDO,East US,Hub,Gates 70-90,12/31/2018,92,Clean,Very safe,Very satisfied
2475,2807,2549,Tuesday,JETBLUE,LONG BEACH,West US,Small,Gates 1-12,12/31/2018,95,Clean,Somewhat safe,Very satisfied
2476,2808,2162,Saturday,CHINA EASTERN,QINGDAO,Asia,Large,Gates 1-12,12/31/2018,220,Clean,Very safe,Somewhat satsified

<b>value inconsistent</b>

In [19]:

airlines['dest_region'].unique()

array(['Asia', 'Canada/Mexico', 'West US', 'East US', 'Midwest US',
       'EAST US', 'Middle East', 'Europe', 'eur', 'Central/South America',
       'Australia/New Zealand', 'middle east'], dtype=object)

In [18]:
airlines['dest_size'].unique()

array(['Hub', 'Small', '    Hub', 'Medium', 'Large', 'Hub     ',
       '    Small', 'Medium     ', '    Medium', 'Small     ',
       '    Large', 'Large     '], dtype=object)

The dest_region column has inconsistent values due to capitalization and has one value that needs to be remapped.

The dest_size column has only inconsistent values due to leading and trailing spaces.

In [21]:
# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

In [22]:
airlines['dest_region'].unique()

array(['asia', 'canada/mexico', 'west us', 'east us', 'midwest us',
       'middle east', 'europe', 'central/south america',
       'australia/new zealand'], dtype=object)

In [23]:
# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

In [24]:
airlines['dest_size'].unique()

array(['Hub', 'Small', 'Medium', 'Large'], dtype=object)

<b>Remapping categories</b>

In [25]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

In [26]:
# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

In [27]:
airlines.head()

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction,wait_type,day_week
0,0,1351,Tuesday,UNITED INTL,KANSAI,asia,Hub,Gates 91-102,12/31/2018,115,Clean,Neutral,Very satisfied,medium,weekday
1,1,373,Friday,ALASKA,SAN JOSE DEL CABO,canada/mexico,Small,Gates 50-59,12/31/2018,135,Clean,Very safe,Very satisfied,medium,weekday
2,2,2820,Thursday,DELTA,LOS ANGELES,west us,Hub,Gates 40-48,12/31/2018,70,Average,Somewhat safe,Neutral,medium,weekday
3,3,1157,Tuesday,SOUTHWEST,LOS ANGELES,west us,Hub,Gates 20-39,12/31/2018,190,Clean,Very safe,Somewhat satsified,long,weekday
4,4,2992,Wednesday,AMERICAN,MIAMI,east us,Hub,Gates 50-59,12/31/2018,559,Somewhat clean,Very safe,Somewhat satsified,long,weekday

<b>text clean</b>

###### Removing titles and taking names

In [ ]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss","")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])