# Different types of data and correctly map them to their respective types.

Manipulating and analyzing data with incorrect data types 
could lead to compromised analysis as you go along the data science workflow.

When working with new data, you should always check the data types of your columns using 
the .dtypes attribute or the .info() method.
Often times, you'll run into columns that should be converted to different data types before starting any analysis.

<b>In the ride_sharing dataset, you'll first identify different types of data and correctly map them to their respective types.</b>

In [1]:
import pandas as pd
import numpy as np

In [2]:
ride_sharing=pd.read_csv("D:/data analysis/ride_sharing_new.csv")
ride_sharing.head()

,Unnamed: 0,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

<b>For each DataFrame, inspect the data types of each column and, where needed, clean and convert columns into the correct data type.</b>

In [3]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB

In [4]:
ride_sharing.describe()

,Unnamed: 0,station_A_id,station_B_id,bike_id,user_type,user_birth_year
count,25760.000000,25760.000000,25760.000000,25760.000000,25760.000000,25760.000000
mean,12879.500000,31.023602,89.558579,4107.621467,2.008385,1983.054969
std,7436.415803,26.409263,105.144103,1576.315767,0.704541,10.010992
min,0.000000,3.000000,3.000000,11.000000,1.000000,1901.000000
25%,6439.750000,15.000000,21.000000,3106.000000,2.000000,1978.000000
50%,12879.500000,21.000000,58.000000,4821.000000,2.000000,1985.000000
75%,19319.250000,67.000000,93.000000,5257.000000,3.000000,1990.000000
max,25759.000000,81.000000,383.000000,6638.000000,3.000000,2001.000000

In [5]:
ride_sharing.shape

(25760, 10)

In [6]:
# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [7]:
ride_sharing['user_type'].value_counts()

2    12972
3     6502
1     6286
Name: user_type, dtype: int64

1 for free riders.
2 for pay per ride.
3 for monthly subscribers.

The user_type column has an finite set of possible values that represent groupings of data, it should be converted to category.

In [8]:
# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

In [9]:
# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

In [10]:
# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

count     25760
unique        3
top           2
freq      12972
Name: user_type_cat, dtype: int64

it seems that most users are pay per ride users!

 We were able to identify that category is the correct data type for user_type and convert it in order to extract relevant statistical summaries that shed light on the distribution of user_type.

Another common data type problem is importing what should be numerical values as strings, as mathematical operations such as summing and multiplication lead to string concatenation, not numerical outputs.

In this dataset, we'll be converting the string column duration to the type int. Before that however, we will need to make sure to strip "minutes" from the column in order to make sure pandas reads it as numerical. The pandas package has been imported as pd.

In [11]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip("minutes")

In [12]:
# Convert duration to integer
ride_sharing['duration_time']= ride_sharing['duration_trim'].astype('int')

In [13]:
# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

In [14]:
# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25755  11 minutes           11              11
25756  10 minutes           10              10
25757  14 minutes           14              14
25758  14 minutes           14              14
25759  29 minutes           29              29

[25760 rows x 3 columns]
11.389052795031056

# Out of range data

How to deal with out of range data?

Dropping data

Setting custom min and max

Treat as missing and impute

Setting custom value depending on business assumption

In [15]:
ride_sharing['tire_sizes']= np.random.randint(25,30, size=len(ride_sharing))
print(ride_sharing['tire_sizes'].describe())

count    25760.000000
mean        26.983191
std          1.419388
min         25.000000
25%         26.000000
50%         27.000000
75%         28.000000
max         29.000000
Name: tire_sizes, dtype: float64

In [16]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

count     25760
unique        3
top          27
freq      15347
Name: tire_sizes, dtype: int64

In [17]:
min_date = pd.to_datetime('2022-10-22')
max_date = pd.to_datetime('2022-12-31')

ride_sharing['ride_date']= np.random.choice(pd.date_range('2022-10-22', '2022-12-31'), len(ride_sharing))
print(ride_sharing['ride_date'].describe())

count                   25760
unique                     71
top       2022-11-16 00:00:00
freq                      401
first     2022-10-22 00:00:00
last      2022-12-31 00:00:00
Name: ride_date, dtype: object

C:\Users\User\AppData\Local\Temp/ipykernel_580/205093429.py:5: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(ride_sharing['ride_date'].describe())

In [18]:
import datetime as dt
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] =today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

2022-10-23

In [19]:
ride_sharing

,Unnamed: 0,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,user_type_cat,duration_trim,duration_time,tire_sizes,ride_date,ride_dt
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,2,12,12,25,2022-10-22,2022-10-22
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,2,24,24,27,2022-12-05,2022-10-23
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,3,8,8,25,2022-10-25,2022-10-23
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,1,4,4,26,2022-12-14,2022-10-23
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,2,11,11,27,2022-12-23,2022-10-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25755,25755,11 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,2000,Male,1,11,11,26,2022-10-23,2022-10-23
25756,25756,10 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,1998,Male,2,10,10,27,2022-11-13,2022-10-23
25757,25757,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,1995,Male,2,14,14,27,2022-10-24,2022-10-23
25758,25758,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,1995,Male,2,14,14,27,2022-11-11,2022-10-23
25759,25759,29 minutes,16,Steuart St at Market St,115,Jackson Playground,1705,3,1990,Male,3,29,29,27,2022-12-31,2022-10-23

# Deal with duplicate

In [22]:
import random
#ride_sharing['ride_id']= random.sample(range(1000000), len(ride_sharing))
ride_sharing['ride_id']=range(1,len(ride_sharing)+1)
print(ride_sharing['ride_id'].value_counts())

1        1
17170    1
17180    1
17179    1
17178    1
        ..
8585     1
8584     1
8583     1
8582     1
25760    1
Name: ride_id, Length: 25760, dtype: int64

In [23]:
find_duplicate=ride_sharing['ride_id'].duplicated()
find_duplicate

0        False
1        False
2        False
3        False
4        False
         ...
25755    False
25756    False
25757    False
25758    False
25759    False
Name: ride_id, Length: 25760, dtype: bool

In [ ]:
a=ride_sharing[ride_sharing['ride_id']==25756]
a

In [24]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset='ride_id', keep=False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

Empty DataFrame
Columns: [ride_id, duration, user_birth_year]
Index: []

In [ ]:
ride_dup = ride_sharing.drop_duplicates(inplace = True)
ride_dup

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0